IF DB_ID('Halloween') IS NOT NULL
	DROP DATABASE Halloween
	
CREATE DATABASE Halloween
GO

USE [Halloween]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/8/2016 11:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [varchar](10) NOT NULL,
	[ShortName] [varchar](15) NOT NULL,
	[LongName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/8/2016 11:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Email] [varchar](25) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[Address] [varchar](40) NOT NULL,
	[City] [varchar](30) NOT NULL,
	[State] [char](2) NOT NULL,
	[ZipCode] [varchar](9) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvoiceData]    Script Date: 6/8/2016 11:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceData](
	[SalesTax] [money] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 6/8/2016 11:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceNumber] [int] IDENTITY(1000,1) NOT NULL,
	[CustEmail] [varchar](25) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Subtotal] [money] NOT NULL,
	[ShipMethod] [varchar](50) NOT NULL,
	[Shipping] [money] NOT NULL,
	[SalesTax] [money] NOT NULL,
	[Total] [money] NOT NULL,
	[CreditCardType] [varchar](10) NOT NULL,
	[CardNumber] [varchar](20) NOT NULL,
	[ExpirationMonth] [smallint] NOT NULL,
	[ExpirationYear] [smallint] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LineItems]    Script Date: 6/8/2016 11:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineItems](
	[InvoiceNumber] [int] NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Extension]  AS ([UnitPrice]*[Quantity]) PERSISTED,
 CONSTRAINT [PK_LineItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceNumber] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/8/2016 11:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ShortDescription] [varchar](200) NOT NULL,
	[LongDescription] [varchar](2000) NOT NULL,
	[CategoryID] [varchar](10) NOT NULL,
	[ImageFile] [varchar](30) NULL,
	[UnitPrice] [money] NOT NULL,
	[OnHand] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 6/8/2016 11:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateCode] [char](2) NOT NULL,
	[StateName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[CustomersMin]    Script Date: 6/8/2016 11:41:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CustomersMin] AS
    SELECT LastName, FirstName, State, Email
    FROM Customers

GO
INSERT [dbo].[Categories] ([CategoryID], [ShortName], [LongName]) VALUES (N'costumes', N'Costumes', N'Costumes')
INSERT [dbo].[Categories] ([CategoryID], [ShortName], [LongName]) VALUES (N'decor', N'Decorations', N'Party decorations')
INSERT [dbo].[Categories] ([CategoryID], [ShortName], [LongName]) VALUES (N'fx', N'FX', N'Special Effects')
INSERT [dbo].[Customers] ([Email], [LastName], [FirstName], [Address], [City], [State], [ZipCode], [PhoneNumber]) VALUES (N'A8@webemaxmjKd.com', N'Molunguri', N'A', N'1108 Johanna Bay Drive', N'Birmingham', N'AL', N'35216', N'(705) 555-5237')
INSERT [dbo].[Customers] ([Email], [LastName], [FirstName], [Address], [City], [State], [ZipCode], [PhoneNumber]) VALUES (N'AAntosca@netYduo.com', N'Antosca', N'Andrew', N'485 Duane Terrace', N'Ann Arbor', N'MI', N'48108    ', N'(804) 555-6924')
INSERT [dbo].[Customers] ([Email], [LastName], [FirstName], [Address], [City], [State], [ZipCode], [PhoneNumber]) VALUES (N'Abdul70@matminvV.edu', N'Antony', N'Abdul', N'1109 Powderhorn Drive', N'Fayetteville', N'NC', N'28314    ', N'(409) 555-8093 ext 5')
GO
INSERT [dbo].[InvoiceData] ([SalesTax]) VALUES (0.0750)
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1000, N'Albert@masterxmlrad.com', CAST(N'2016-06-02 00:00:00.000' AS DateTime), 119.9700, N'UPS', 4.2500, 9.0000, 133.2200, N'VISA', N'1111-2222-3333-4444', 7, 2020)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1001, N'CMavraedis@dTwildKhCkli.e', CAST(N'2016-06-02 00:00:00.000' AS DateTime), 119.9100, N'UPS', 7.7500, 8.9900, 136.6500, N'VISA', N'1111-2222-3333-4444', 1, 2021)
INSERT [dbo].[Invoices] ([InvoiceNumber], [CustEmail], [OrderDate], [Subtotal], [ShipMethod], [Shipping], [SalesTax], [Total], [CreditCardType], [CardNumber], [ExpirationMonth], [ExpirationYear]) VALUES (1002, N'Christopher05@minwildobZF', CAST(N'2016-06-02 00:00:00.000' AS DateTime), 39.9900, N'UPS', 4.2500, 3.0000, 47.2400, N'VISA', N'1111-2222-3333-4444', 12, 2022)
GO
SET IDENTITY_INSERT [dbo].[Invoices] OFF
INSERT [dbo].[LineItems] ([InvoiceNumber], [ProductID], [UnitPrice], [Quantity]) VALUES (1000, N'frankc01', 39.9900, 3)
INSERT [dbo].[LineItems] ([InvoiceNumber], [ProductID], [UnitPrice], [Quantity]) VALUES (1001, N'head02', 29.9900, 3)
INSERT [dbo].[LineItems] ([InvoiceNumber], [ProductID], [UnitPrice], [Quantity]) VALUES (1001, N'rat01', 14.9900, 1)
GO
INSERT [dbo].[Products] ([ProductID], [Name], [ShortDescription], [LongDescription], [CategoryID], [ImageFile], [UnitPrice], [OnHand]) VALUES (N'arm01', N'Freddie Arm', N'Life-size Freddy arm', N'This arm will give people nightmares, and not just on Elm street!', N'props', N'arm1.jpg', 20.9500, 200)
INSERT [dbo].[Products] ([ProductID], [Name], [ShortDescription], [LongDescription], [CategoryID], [ImageFile], [UnitPrice], [OnHand]) VALUES (N'bats01', N'Flying Bats', N'Bats flying in front of moon', N'Bats flying in front of a full moon make for an eerie spectacle.', N'props', N'cool1.jpg', 69.9900, 25)
INSERT [dbo].[Products] ([ProductID], [Name], [ShortDescription], [LongDescription], [CategoryID], [ImageFile], [UnitPrice], [OnHand]) VALUES (N'bl01', N'Black Light', N'Black light with base', N'Create that creepy glow-in-the-dark effect with this powerful black light.', N'fx', N'blacklight1.jpg', 19.9900, 200)
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AK', N'Alaska')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AL', N'Alabama')
INSERT [dbo].[States] ([StateCode], [StateName]) VALUES (N'AR', N'Arkansas')
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_States] FOREIGN KEY([State])
REFERENCES [dbo].[States] ([StateCode])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_States]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers] FOREIGN KEY([CustEmail])
REFERENCES [dbo].[Customers] ([Email])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers]
GO
ALTER TABLE [dbo].[LineItems]  WITH CHECK ADD  CONSTRAINT [FK_LineItems_Invoices] FOREIGN KEY([InvoiceNumber])
REFERENCES [dbo].[Invoices] ([InvoiceNumber])
GO
ALTER TABLE [dbo].[LineItems] CHECK CONSTRAINT [FK_LineItems_Invoices]
GO
ALTER TABLE [dbo].[LineItems]  WITH CHECK ADD  CONSTRAINT [FK_LineItems_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LineItems] CHECK CONSTRAINT [FK_LineItems_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
