/* The styles for the elements */
body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 550px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border: 2px solid;
}
h1 {
    font-size: 140%;
    padding: 0;
    margin-bottom: .5em;
}

/* The styles for the classes (add in separate style sheet) */


/* The styles for the server controls */